/**
 * @author jittagornp <http://jittagornp.me>
 * create : 2017/01/10
 */
.dip--container__home{
    /*
    font-size: 26px;
    padding: 100px;
    text-align: center;
    line-height: 50px;
    */
}