/**
 * @author jittagornp <http://jittagornp.me>
 * create : 2017/01/17
 */

.dip--container__form-all .btn-sm{
    width: 60px;
}

.dip--container__form-all .table tr:hover{
    background-color: #fafafa;
}

.dip--dashboard-form-all__desc{
    color: #777;
}