a {
    color: #3D454D;
}

.form-number {
    color: steelblue;
}
@media (min-width: 992px){
    .app-content {
        margin-left: 13.75rem;
    }
}
@media (max-width: 991px){
    .app-content {
        margin-left: 0;
    }
}
.btn.btn-outline:hover, .btn.btn-outline:focus {
    color: rgba(255, 255, 255, 0.87) !important;
    background-color: #6887ff !important;
}
.btn.btn-outline{
    border-color: #6887ff;
}
