<div class="app-content padding">
    <div class="dip--container dip--container__home box container">
        <div class="grey-50 dip--page__header" style="border-bottom: solid 1px #eaeaea;height: 56px">
            <div class="navbar">
                <div>
                    แบบฟอร์มทั้งหมด
                    <span class="pull-right" style="width:280px">
          <div class="form-inline">
             <input #search (keyup)="0" style="width:190px;height:28px; font-size: small;"
                    placeholder="พิมพ์เพื่อค้นหาแบบฟอร์ม" type="text" class="form-control form-control-xs"/>
            <small class="text-sm" style="height:auto;margin: 0px auto;">15 แบบฟอร์ม
            </small>
          </div>
          </span>
                </div>
            </div>
        </div>

        <h6 style="margin-left: 10px;margin-top: 20px">บันทึกคำขอ(มีค่าธรรมเนียม)</h6>
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>

                </tbody>
            </table>
        </div>
        <hr>
        <h6 style="margin-left: 10px">บันทึกคำขอ(ไม่มีค่าธรรมเนียม)</h6>
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>

                </tbody>
            </table>
        </div>
        <hr>
        <h6 style="margin-left: 10px">บันทึกรายการชำระเงิน(อื่นๆ)</h6>
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td style="width: 256px">
                        บันทึกการชำระเงิน
                    </td>
                    <td>
                        <label class="text-muted">
                            บันทึกการชำระเงินที่ได้รับการอนุมัติ
                        </label>
                    </td>
                    <td style="text-align: right">
                        <a style="width: 60px" class="btn btn-sm btn-outline b-info text-info"
                           routerLinkActive="active">
                            บันทึก
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
