<div class="app-aside box-shadow-z3 modal fade lg nav-expand" style="background-color: #3d454d">
  <div>
    <div class="scroll">
      <ul class="nav">
        <li>
          <a class="nav-link" routerLink="" style="margin-top: 15px">
            <span class="nav-icon"></span>
            <span class="nav-label"><span class="label label-sm">5</span></span>
            <span class="nav-text">ระบบจัดการหน้าเว็บไซต์</span>
          </a>
        </li>
        <li>
          <a class="nav-link" routerLink="/history-form">
            <span class="nav-icon"></span>
            <span class="nav-label"><span class="label label-sm"></span></span>
            <span class="nav-text">ระบบการเงิน</span>
          </a>
        </li>
        <li>
          <a class="nav-link" routerLink="/transaction-history" style="margin-bottom: 10px">
            <span class="nav-icon"></span>
            <span class="nav-label"><span class="label label-sm">3</span></span>
            <span class="nav-text">ระบบจัดการทีมนมักสาร</span>
          </a>
        </li>
        <li>
          <a class="nav-link" routerLink="/transaction-history" style="margin-bottom: 10px">
            <span class="nav-icon"></span>
            <span class="nav-label"><span class="label label-sm">2</span></span>
            <span class="nav-text">ระบบจัดการงานคริสตจักร</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .nav-text {
    display: block;
    line-height: 1.125rem;
    padding: 0.2rem 0;
  }
</style>
