<div class="app-header white box-shadow">
  <div class="dip--app__identity-toolbar"></div>
  <div class="navbar dip--toolbar">
    <div class="dip--toolbar"></div>
    <span class="col-md-12">
       <span class="col-lg-2">
         <a class="navbar-brand nav-link dip--toolbar__brand" ui-sref="home">
          <img src="assets/layout/image/logo.png"/>
        </a>
        <ul class="nav navbar-nav pull-left dip--toolbar__app-name--thai">
          <li class="nav-item">
            <a class="nav-link" ui-sref="home">คริสตจักรใจสมานสุวินทวงศ์</a>
          </li>
        </ul>
      </span>
      <span class="col-lg-2"></span>
      <span class="col-lg-1">
        <ul class="nav navbar-nav pull-left dip--toolbar__app-name--thai">
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
        </ul>
      </span>
      <span class="col-lg-1">
        <ul class="nav navbar-nav pull-left dip--toolbar__app-name--thai">
          <li class="nav-item">
            <a class="nav-link">Activity</a>
          </li>
        </ul>
      </span>
      <span class="col-lg-1">
        <ul class="nav navbar-nav pull-left dip--toolbar__app-name--thai">
          <li class="nav-item">
            <a class="nav-link">Media</a>
          </li>
        </ul>
      </span>
      <span class="col-lg-1">
        <ul class="nav navbar-nav pull-left dip--toolbar__app-name--thai">
          <li class="nav-item">
            <a class="nav-link">Contact</a>
          </li>
        </ul>
      </span>
      <span class="nav navbar-nav pull-right">
         <ul (click)="dropDownAction()">
              <li class="{{dropDownClass}}">
                <a  class="nav-link dip--toolbar__user-name " data-toggle="dropdown" aria-expanded="true">
                        <span class="user one"></span>
                </a>
                    <div class="dropdown-menu pull-right dropdown-menu-scale">
                          <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-user"></span>  ผู้ดูแลระบบ</a>
                          <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-pencil"></span>  ดู/แก้ไขข้อมูลส่วนตัว</a>
                          <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-wrench"></span>  เปลี่ยนรหัสผ่าน</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/logout"><span class="glyphicon glyphicon-log-out"></span>  ออกจากระบบ</a>
                    </div>
          </li>
       </ul>
      </span>
    </span>
  </div>
</div>
