.dip--app__identity-toolbar {
    background-color: #2d672d !important;
}
.user {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.one {
    background-image: url('http://placehold.it/350x150');
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    color: #2d672d;
}
.btn-xl{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}